/* Form and form elements */
.form-inline {
    display: inline-block;
}

.text-input {
    background: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 150px;
    border: none;
    box-shadow: 0 0 10px rgba(115, 200, 255, 0.8);
}

.big-text-input {
    background: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 11px;
    margin: 3px;
    border-radius: 5px;
    min-width: 150px;
    border: none;
}

.textarea-input {
    background: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 150px;
    height: 75px;
    border: none;
    resize: none;
    box-shadow: 0 0 10px rgba(115, 200, 255, 0.84);
}

.button {
    background: rgba(115, 200, 255, 0.85);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 70px;
    border: none;
}
.add-button {
    background: rgba(32, 255, 53, 0.55);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 70px;
    border: none;
}
.delete-button {
    background: rgba(255, 0, 3, 0.55);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 70px;
    border: none;
}

.big-button {
    background: #5caaff;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 11px;
    margin: 3px;
    border-radius: 5px;
    min-width: 120px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.button:hover,
.big-button:hover,
.add-button:hover,
.delete-button:hover {
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.84);
}

/* Tables */
.table {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    height: auto;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}
th {
    background: #80ade7;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    padding: 10px 20px;
}
.select select {
    background: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    padding: 7px;
    margin: 3px;
    border-radius: 3px;
    min-width: 150px;
    height: 75px;
    border: none;
    resize: none;
    box-shadow: 0 0 10px rgba(115, 200, 255, 0.84);
}

/* Marker classes */
.inline {
    display: inline-block;
}

/* Other */
.result {
    padding: 3px;
    border-radius: 3px;
    right: 230px;
}
.big-name {
    font-size: 23px;
    font-weight: bold;
    margin-left: 7%;
    margin-bottom: 10px;
}
.border_radius {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    width: 230px;
}